html,
body,
header,
#root {
    height: 100%;
}

#intro {
    height: 100%;
}

#intro {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #212121;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}

h2::before {
    display: block;
    content: " ";
    margin-top: -95px;
    height: 95px;
    visibility: hidden;
    pointer-events: none;
}

/* about start */
.profile-pic {
    border-radius: 50%;
    display: inline-block;
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
    overflow: hidden;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
.profile-pic img {
    max-height: 100%;
    -webkit-filter: grayscale(100%);
    filter: "gray";
    filter: grayscale(100%);
    transition: all 0.5s ease;
}
.profile-pic img:hover {
    -webkit-filter: grayscale(0%);
    filter: none;
    filter: grayscale(0%);
}
/* about end */
pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

resFont-80 {
 @include responsive-font-size(27px);
     margin: 0;
 }